*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    /* overflow: hidden; */
}
html,body{
    height: 100%;
    width:100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: 0% 30%;
}
#nav{
    position: relative;
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
#nav #nlink{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#nav i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
}
#nlink {
    display: flex;
    gap: 50px;
}
#nlink a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
#nlink #active::before{
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%,0);
    
}
#nav h5{
    height: 40px;
    width: 40px;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}
#text{
    width: 40%;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(0,-50%);
    color: #fff;
}
#text h6{
    display: flex;
}
#text  h6 span{
    line-height: 25px;
    font-size: 30px;
}
#text h1{
    font-size: 60px;
    line-height: 1;
    margin-top: 40px;
}
#lineandtext{
    display:flex ;
    margin-top: 50px;
    gap: 50px;
}
#line {
    width: 100px;
    height: 2px;
    background-color: #fff;
}
#lineandtext p{
    font-size:12px ;
    width: 50%;
    margin-top: -5px;
}
#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    background-color: #fff;
    width: 70%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}
 #cube{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    right: -50px;
    background-color: rgba(0, 0, 0, 1);
    height: 50px;
    width: 50px;
    color: #fff;
       
}
#bottom .sec p{
    line-height: 20px;
    opacity: .5;
    font-size: 13px;
}

